/* app css stylesheet */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html,
body {
    background-color: #455A64;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

hr {
    margin: 0px 30px 30px 30px;
}


.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


.page {
    width: 70%;
    margin: 10px auto 10px auto;
}

.profile {
    background-color: #fff;  
    display: inline-block;
    width: 100%;
}

.avatar img {
    float: left;
    width: 220px;
    margin-right: 50px;
}

.detail {
    margin-left: 12px;
}

.detail h1 {
    color: #000000;
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
}

.detail h3, .detail h5 {
    color: #666;
    margin-bottom: 10px;
    display: inline-block;
}

.title-address {
    width: 80px;
    float: left;
    margin-right: 20px;
    color: #666;
    font-size: 16px;
}

.content-address {
    color: #000000;
    font-size: 16px;
}


.background {
    margin: 10px auto;
	background:white;
}

.title-background {
    width: 15%;
	height: 30px;
	display: flex;
    align-items: center;
    justify-content: center;
	color: white;
	background: #333;
}

.frame {
    padding: 30px;
}

.icon {
    float: left;
    margin-right: 20px;
}

.title-frame {
    margin-top: 10px;
    display: inline-block;
}

.content-frame p {
    margin-top: 10px;
    font-size: 15px;
}

.skill {
    margin: 10px 10px 0px 0px;
    display: inline-block;
}

.score {
    color: white;
	background: #1e90ff;
	padding: 3px;
    font-size: 15px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    float: left;
}

.skillname {
	background: lightgray;
	padding: 3px;
    font-size: 15px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    float: left;
}

.education {
    display: inline-block;
    width: 100%
}

.education h5 {
    color: #000000;
    margin: 20px 0px 5px 0px;;
    display: inline-block;
}

.education img {
    float: right;
}

i {
    font-size: 15px;
    padding-left: 15px;
    transition: all 0.5s ease;
}

i:hover {
    color: #000000;
    transform: scale(1.1);
}

.content-data {
    display: block;
}

.input-score {
    background: #1e90ff;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border: 0px;
}

.input-skill {
    border: 0px;
    background: #E0E0E0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.btn-add {
    margin-top: 20px;
}

.btn-edit {
    float: right;
    font-size: 40px;
    margin: 20px;
}

.title-skill {
    display: inline-block;
}

.hidden {
    visibility: hidden;
}